$xl: 1200px;
$l: 800px;
$m: 568px;
$s: 320px;


:root {
  --darkPrimary: #f5f5dc;
  --background: #f8f87a;
  --text: #000;
  --altText: #fff;
}

:root[theme="dark"] {
  --darkPrimary: #181818;
  --background: #414141;
  --text: #fff;
  --altText: #000;
}